.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
}

.card {
  width: 24rem;
  height: 38.188rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: #1F1F1F;
  border-radius: 12px;
  padding-top: 40px;
}

.cardDetails {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-size: 1.5rem;
  font-weight: 400;
}

.address {
  margin: 0;
  font-size: 14px;
  color: #4e9fe5;
  font-weight: bold;
}

.description {
  font-size: 14px;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socialButton {
  text-align: center;
  line-height: 45px;
  width: 304px;
  background-color: #333333;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}

.socialButton:hover {
  color: #333333;
  background-color: #4e9fe5;
}